# Dependencias principales
streamlit==1.27.0
SQLAlchemy==2.0.23
psycopg2-binary==2.9.9  # Para conectar con PostgreSQL
pandas==2.1.0
numpy==1.26.5

# Si usas matplotlib o gráficos
matplotlib==3.8.0
plotly==5.17.0

# Para otras utilidades
python-dotenv==1.0.1  # Manejar variables de entorno